.header {
  position: relative;
  padding: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  @media screen and (max-width: '600px') {
    justify-content: space-between;
  }
  & h5 {
    font-weight: 600;
  }

  .left {
    & img {
      height: 45px;

      @media screen and (max-width: '600px') {
        height: 30px;
      }
    }
  }

  .right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & a {
      text-decoration: none;
      color: black;
      margin-right: 25px;
      padding: 5px 0;
      &:hover {
        border-bottom: 2px solid blue;
      }

      @media screen and (max-width: '600px') {
        display: none;
      }
    }
  }
}

.headerImg {
  transform: rotate(103deg) scale(0.8);
  position: absolute;
  right: -89px;
  top: -65px;
  filter: grayscale(1);
}
