* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

body {
  background: rgb(223, 223, 223);
}
.landing {
  height: 250px;
  background: #000;
}

.tile-btn {
  position: absolute;
  top: -30px;
  left: 35px;
  padding: 15px 25px;
  border-radius: 50px;
  width: max-content;
  background: #3f51b5;
  & h5 {
    font-weight: 600;
  }
}
